.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.alert{
    border: 1px dashed grey;
    border-radius: 8px;
    padding: 0.5em;
    width: 12em;
    text-align: center;
}

.alert-danger{
    background-color: salmon;
}